data
data/
ckpts
cktps/
logs
logs/
wandb
wandb/
wandb_old
wandb_old/
ReaRev_KGQA/
api_key.txt

**/__pycache__/
*.pyc
*.pyo
*.pkl

logs/ckpts
logs/loss
dataset/
pykeen/
save/outputs/

wandb

*.tar.gz
*.zip
*.csv
*__pycache__

*baselines/
*checkpoints/

study.ipynb
*api_key.txt

.vector_cache/
best_model.pt

